<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <br><br>
        <h1>About us</h1>
        <p>Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital
            journey. Gadgeon is dedicated to building solid software systems that creates business value for
            enterprises. Our services include Product engineering, IoT Engineering, Embedded systems – hardware &
            Firmware, Enterprise application – integration & modernization, Full stack development, cloud & Mobile app
            development, data analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables
            our customers to fully focus on high impact business transformation initiatives while the extended team from
            Gadgeon takes care of all engineering and operational activities.

            Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of more than 170
            projects across USA, Europe, and APAC.</p>
    </div>
</body>

</html>