<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="one">
            <!-- <form action="" method="post"> -->
                <table>
                    <tr>
                        <td colspan="200px">
                            <h1 style="margin-left:70px ;">Contact us</h1>
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" name="" id="" style="width: 400px;"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="text" name="" id=""style="width: 400px;"></td>
                    </tr>
                    <tr>
                        <th>Contact No </th>
                        <td><input type="text" name="" id="" style="width: 400px;"></td>
                    </tr>
                    <tr>
                        <td colspan="400px"><button style="margin-left: 460px;" >Submit</button></td>
                    </tr>
                </table>
            <!-- </form> -->
        </div>

    </div>
</body>

</html>