<div class="main">
    <header>
        <h1 style="color: orange;">Our <span style="color: blue;">Services</span></h1>
        <hr style="color: blue;">
        <hr style="color: blue;">
        

    </header>
    <div class="one">
        <img src="../../assets/images/s1.jpg" class="img1" alt=""><br><br>
        <h3>Obsolescence Management for IoT</h3>
        <p>One of the leading Smart Home device company in the USA, wanted to replace end-of-life parts on the board of
            their gateway, a critical system in their home.</p>
    </div>
    <div class="two">
        <img src="../../assets/images/s2.jpg" class="img2" alt=""><br><br>
        <h3>Cavium Thunder x Based Server Board</h3>
        <p>Design, testing and productization of a dual CPU based backplane server board based on CN88XX processor.</p>
    </div>
    <div class="three">
        <img src="../../assets/images/s3.jpg" class="img2" alt=""><br><br>
        <h3>IO Module to Monitor and Control Factory Equipments</h3>
        <p>One of the main challenges in factory digitization is collecting different data types from existing, old and
            heterogeneous machines on the factory floor.</p>
    </div>
    <div class="four">
        <img src="../../assets/images/s4.jpg" class="img2" alt=""><br><br>
        <h3>Code Refactoring for a remote monitoring solution</h3>
        <p>A leader in remote monitoring and network management solution in North America was experiencing high
            maintenance costs in supporting different hardware variants</p>

    </div>
    <div class="five">
        <img src="../../assets/images/s5.jpg" class="img2" alt=""><br><br>
        <h3>Solar Powered Vehicle Tracker</h3>
        <p>A fleet management solution provider wanted to develop a solution that report any abnormal operating
            condition of the vehicle, like dangerous driving or crashes</p>

    </div>
    <div class="six">
        <img src="../../assets/images/s7.jpg" class="img2" alt=""><br><br>
        <h3>Multi-Level Platform Integration - EV Charging</h3>
        <p>Our client was facing challenges in the real time monitoring and connectivity of their EV fleet charging operation.</p>

    </div>

</div>